<div class="body">
    <img src="products/register_page.png">
    <div class="form" (submit)="onSubmit()">
        <form [formGroup]="registrationForm">
            <label for="email">Email address</label>
            <input type="text" id="email" formControlName="email" autocomplete="off">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password">
            <label for="confirmPassword">Confirm your password</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword">
            <button type="submit">Create account</button>
            <p>Already have an account?<a (click)="openLoginDialog()">Login!</a></p>
        </form>
    </div>
</div>